/* App.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  h2 {
    color: #4A90E2; /* Primary color for headings */
  }
  
  nav {
    background: #007BFF;
    padding: 1rem;
    color: white;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  .container {
    padding: 20px;
    flex-grow: 1; /* Allow the container to grow and fill the space */
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #45a049; /* Darker green */
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  ul li:last-child {
    border-bottom: none; /* Remove border for the last item */
  }
  